<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
        <meta charset="UTF-8">
        {% if title %}
        <title>title</title>
        {% else %}
        <title>default title</title>
        {% endif %}
    </head>
    <body>
        <div> myapp: <a href="/index">home</a></div>
        <hr>
    {% block content %}
    {% endblock %}
    </body>
</html>