
                <table>
                    {% for elem in list %}
                    <tr>
                        <td>{{ elem }}</td>
                        <td><button  id="{{ elem.id }}" class="editBttn"> Edit element </button></td>
                        <td><button  id="{{ elem.id }}" class="deleteBttn">Delete element</button></td>
                    </tr>
                    {% endfor %}
                </table>

                {% if error %}
                    <script>alert("Название и счёт должны быть непустыми строками, а сумма — числом");</script>
                {% endif %}
