
                <table style="border: solid black;
                border-width: 1px 1px; margin: 50px 20px;
                padding: 100px;">
                    {% for elem in list %}
                    <tr>
                        <td style="padding: 10px">{{ elem }}</td>
                        <td><button  id="{{ elem.id }}" class="edit{{op}}Bttn"> Изменить состояние счёта </button></td>
                    </tr>
                    {% endfor %}
                </table>

                {% if error %}
                    <script>alert("Название и счёт должны быть непустыми строками, а сумма — числом");</script>
                {% endif %}
