{% extends "base.html" %}
{% block content %}
    <h1> hello </h1>

    <div class="container">
        <div class="column-left">

            <div class="tabs">
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1" title="вкладка1">вкладка 1</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2" title="вкладка2">вкладка 2</label>

                <section id="content-tab1">
                    <form id="submitincome" role="form" method="post" onsubmit="return false;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <table>
                            <tr>
                                <td>Дата поступления</td>
                                <td>{{ form.date }}</td>
                            </tr>
                            <tr>
                                <td>Имя поступления</td>
                                <td>{{ form.name }}</td>
                            </tr>
                            <tr>
                                <td>Сумма поступления</td>
                                <td>{{ form.sum }}</td>
                            </tr>
                            <tr>
                                <td>Источник поступления</td>
                                <td>{{ form.source }}</td>
                            </tr>
                            <tr>
                                <td>Тег поступления</td>
                                <td>{{ form.tag }}</td>
                            </tr>
                            <tr>
                                <td>Счёт поступления</td>
                                <td>{{ form.account }}</td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-primary">Добавить доход</button>

                    </form>
                </section>
                <section id="content-tab2">
                    321
                </section>
            </div>

            <br>

            <h3>журнал затрат и доходов</h3> <div id="filterLink">Фильтр</div>
            <div id="incomeTable">

                <table>
                    {% for elem in list %}
                    <tr>
                        <td>{{ elem }}</td>
                        <td><button  id="{{ elem.id }}" class="editBttn"> Edit element </button></td>
                        <td><button  id="{{ elem.id }}" class="deleteBttn">Delete element</button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
        <div class="column-center">

            <table>
                <tr>
                    <td>остаток</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </table>
            <br>
            управление счетами
        </div>

        <div class="column-right">
            журнал перевода и обмена
        </div>
    </div>
    <div id="filter" style="display: none;">
        <form id="filterForm" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table>
                <tr>
                    <td>По периоду:</td>
                    <td>{{ filterform.period }}</td>
                </tr>
                <tr>
                    <td>По счёту:</td>
                    <td>{{ filterform.account }}</td>
                </tr>
                <tr>
                    <td>По источнику:</td>
                    <td>{{ filterform.source }}</td>
                </tr>
            </table>
            <button id="submit" class="btn btn-primary">Показать</button>
        </form>
    </div>
    <div id="changePopup" style="display: none;">
        <form id="submitchange" role="form" method="post" onsubmit="return false;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table>
                <tr>
                    <td>Дата поступления</td>
                    <td>{{ editForm.date }}</td>
                </tr>
                <tr>
                    <td>Имя поступления</td>
                    <td>{{ editForm.name }}</td>
                </tr>
                <tr>
                    <td>Сумма поступления</td>
                    <td>{{ editForm.sum }}</td>
                </tr>
                <tr>
                    <td>Тег поступления</td>
                    <td>{{ editForm.tag }}</td>
                </tr>
                <tr>
                    <td>Источник поступления</td>
                    <td>{{ editForm.source }}</td>
                </tr>
                <tr>
                    <td>Счёт поступления</td>
                    <td>{{ editForm.account }}</td>
                </tr>
            </table>
            <button id="submit" class="btn btn-primary">Добавить доход</button>
        </form>
    </div>
<script>

    function objectifyForm(formArray) {
        var returnArray = {};
        for(var i = 0; i < formArray.length; i++) {
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }
        alert(JSON.stringify(returnArray));
        return returnArray;
    }
    $(document).ready(function () {
        $('#filterLink').on('click', function () {
            $('#filter').dialog();
            $('#filterForm').submit(function (e) {
                e.preventDefault();
                var dt = $('#filterForm').serializeArray();
                dt.push({name: "type", value: "filter"});
                req = $.ajax({
                    type: "POST",
                    url: '/',
                    data: objectifyForm(dt),
                    success: function () {
                        alert("success")
                    }
                });

                req.done(function (data) {
                    $('#incomeTable').html(data)
                });
            })
        });

        $(document).on('click', '.deleteBttn', function(){
            alert("deleting");
            var dt = $('form').serializeArray();
            dt.push({name: "type", value: "delete"});
            dt.push({name: "id", value: this.id});
            req = $.ajax({
                type: "POST",
                url: '/',
                data: objectifyForm(dt)
            });

            req.done(function (data) {
                $('#incomeTable').html(data)
            });
        });

        $(document).on('click', '.editBttn', function() {

            var tempid = this.id;
            $('#changePopup').dialog({
                width: 400,
                height: 300
            });
            alert(tempid);
            $('#submitchange').submit(function (e) {
                e.preventDefault();
                alert("change");
                var dt = $('#submitchange').serializeArray();
                dt.push({name: "type", value: "edit"});
                dt.push({name: "id", value: tempid});
                req = $.ajax({
                    type: "POST",
                    url: '/',
                    data: objectifyForm(dt),
                    success: function () {
                        alert("success")
                    }
                });

                req.done(function (data) {
                    $('#incomeTable').html(data)
                });
            });
            del(i);
        });

        $('#submitincome').submit(function (e) {
            e.preventDefault();
            alert("income");
            var dt = $('#submitincome').serializeArray();
            dt.push({name: "type", value: "add"});
            req = $.ajax({
                type: "POST",
                url: '/',
                data: objectifyForm(dt)
            });

            req.done(function (data) {
                $('#incomeTable').html(data);

            })
        });
    });
</script>
{% endblock %}


